.button {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(224, 35, 35, 0);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  display: inline-flex;
  font-weight: 400;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  padding: 0.375em 0.375em;
  line-height: 1.5;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s,
    border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  font-size: 100%;
  background-color: #722362;
}

.button:focus {
  box-shadow: #722362 0px 0px 0px 0.2em;
  position: relative;
  z-index: 2;
  border: 1px solid #722362;
} 

.button:hover {
  background-color: #511746;
} 

.secondary {
  border: 1px solid #722362;
  background-color: #f7f7f7;
  color: #722362;
}

.secondary:hover {
  background-color: #f1e8ef;
}

.icon {
  margin-right: 6px;
  font-size: 120%;
  display: inline-flex;
}

.nolabel {
  margin-right: 0;
}
