* {
  box-sizing: border-box;
}

nav {
  background-color: #722362;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  color: #fff;
  background-color: #722362;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li:first-child {
  margin-left: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Add styles for page content */
main {
  margin-top: 4rem;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.sections {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

section {
  min-width: 360px;
  padding: 20px ;
  border: 1px solid;
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form > * {
  margin-bottom: 30px;
}

label {
  display: flex;
  justify-content: space-between;
}

.form-label {
  width: 70px;
  display: inline-block;
}

.dialog-example {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}